<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<typeAliases>
		    <typeAlias type="com.dev.hotelpms.user.UserVO" alias="UserVO"/>
		    <typeAlias type="com.dev.hotelpms.pay.PayVO" alias="PayVO"/>
			<typeAlias type="com.dev.hotelpms.room.BookingVO" alias="BookingVO" />
			<typeAlias type="com.dev.hotelpms.room.RoomVO" alias="RoomVO" />
			<typeAlias type="com.dev.hotelpms.room.RoomTypeVO" alias="RoomTypeVO" />
			<typeAlias type="com.dev.hotelpms.room.ReservedVO" alias="ReservedVO" />
		</typeAliases>
</configuration>