<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.hotelpms.customer.CustomerDAO">
	<insert id="setJoin" parameterType="CustomerVO" >
		INSERT INTO CUSTOMER(ID,PASSWORD,PHONENUMBER,NAME,EMAIL)
		VALUES (#{id},#{password},#{phoneNumber},#{name},#{email})
	</insert>
	<select id="getLogin" parameterType="CustomerVO" resultType="CustomerVO" >
		SELECT *
		FROM CUSTOMER
		WHERE id=#{id}
		<!-- 패스워드를 여기서 비교하지 않는다(AND M.PASSWORD=#{paaword} 삭제함) -->
	</select>
	<select id="idDuplicateCheck" resultType="CustomerVO" parameterType="CustomerVO">
		SELECT ID FROM CUSTOMER WHERE ID=#{id}
	</select>
	<select id="getCustomer" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT *
		FROM CUSTOMER
		WHERE ID=#{id}
	</select>
</mapper>