<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.hotelpms.pay.PayDAO">

    <select id="getPayDetail" parameterType="PayVO" resultType="PayVO">
        SELECT * FROM BOOKING WHERE ID = #{id} ORDER BY RESERVATIONNUMBER  DESC LIMIT 1;
    </select>

    <select id="getPayList" parameterType="PayVO" resultType="PayVO">
        SELECT * FROM BOOKING WHERE ID = #{id} ORDER BY RESERVATIONNUMBER  DESC;
    </select>

    <delete id="setPayDelete" parameterType="PayVO">
        DELETE FROM BOOKING WHERE RESERVATIONNUMBER = #{reservationNumber};
    </delete>



    <insert id="setPayAdd" parameterType="PayVO">
        INSERT INTO BOOKING
        SELECT #{reservationNumber}, R.ROOMNUMBER, #{id},#{roomType},#{name},#{reservationEmail},#{guestCount},DATE_FORMAT(SYSDATE(), '%Y-%m-%d %H:%i:%s'),#{checkinDate},#{checkoutDate},'결제완료',#{paymentAmount},#{phoneNumber}
        FROM (
        SELECT ROOMNUMBER
        FROM ROOM
        WHERE ROOMTYPE = #{roomType}
        AND ROOMNUMBER NOT IN (
        SELECT ROOMNUMBER
        FROM BOOKING
        WHERE CHECKOUTDATE >= #{checkoutDate} OR CHECKINDATE  <![CDATA[ <= ]]>#{checkinDate}
        )
        ORDER BY ROOMNUMBER ASC
        LIMIT 1
        ) AS R;
    </insert>

    <update id="setResstatus" parameterType="PayVO">
        UPDATE RESERVED
        SET ROOMRESSTATUS = '예약완료'
        WHERE ROOMNUMBER = (
        SELECT ROOMNUMBER
        FROM BOOKING
        ORDER BY RESERVATIONNUMBER DESC
        LIMIT 1
        )
        AND RESERVATIONDATE BETWEEN #{checkinDate} AND #{checkoutDate};
    </update>

    <update id="setReservationStatus" parameterType="PayVO">
        UPDATE RESERVED
        SET ROOMRESSTATUS = '예약가능'
        WHERE ROOMNUMBER = (
        SELECT ROOMNUMBER
        FROM BOOKING
        WHERE RESERVATIONNUMBER = #{reservationNumber}
        )
        AND RESERVATIONDATE BETWEEN #{checkinDate} AND #{checkoutDate};
    </update>

</mapper>